@font-face {
    font-family: Mistral;
    src: url('../fonts/Mistral Normal.ttf');
}

@font-face {
    font-family: Huntsman;
    src: url('../fonts/Huntsman.otf');
}

@font-face {
    font-family: Exo;
    src: url('../fonts/Exo.otf');
}

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans.ttf');
}

header{
    position: relative;
    width: 100%;
    height: 150px;
    border-bottom: 4px solid rgba(255, 255, 255, 0.1);
}

header img{
    width: 80px;
    height: 80px;
}


header nav li{
    display:inline;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    float: right;
}

nav li:hover{
    background-color: #FFFFFF;
}

header .company-name{
    font-weight: bold;
    margin-left: 30px;
    font-size: 3.3em;
    line-height: 10px;
}

.company-name{
    font-family: Mistral, sans-serif;
    color: #FF0000;
}

.tel{
     float: right;
}

.tel li{
    list-style-type: none;
}

h2{
    font-family: Exo, sans-serif;
     color: #0000FF;   
}

h3{
     font-family: Exo, sans-serif;
     color: #0000FF;
}

body{
    background: url("/images/fon.png") no-repeat;
	background-size: cover;
    font-family: "Open Sans", sans-serif;
    color: #000080;
    padding: 10px 10px 10px 50px;
    margin: 0px;
}

.col-6 img{
    height: 200px;
}

button a:hover{
    color:  #ff0000; 
}

a{
    text-decoration: none;
	color:#000000;
}

nav li{
    font-weight: bold;
    list-style-type: none;
}

#work li{
	list-style-type: none;
	line-height: 30px;
	font-weight: bold; 
}


#work li:hover{
    background-color: #c0c0c0;
}

#work li a:hover{
    color: #ffffff;
}

.pictures {
	height: 80px;
}

form input:focus {
    border-color: #0088cc;
}

fieldset{
	border-color: #808080;
	background-color:#C0C0C0;
	box-shadow: 3px 3px 4px #cccccc;
}

footer{
    clear: both;
    border-top: 6px solid red(255, 255, 255, 0.1);
}