@import url(//meyerweb.com/eric/tools/css/reset/reset.css);
@import url(//necolas.github.io/normalize.css/5.0.0/normalize.css);
@import url(grid.css);

header, body{
padding: 10px 40px 30px 0px;
}

.logo{
    height: 80px;
    background-image: url("/images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

    
.menu ul{
    width: 150px;
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #ccc;
}

.menu li{
	position: relative;
}

.menu-inside {
	position: absolute;
	left: 149px;
	top: 0;
	display: none;
	}

.menu a {
	display: block;
	color: darkslateblue;
	padding: 10px;
	border-bottom: 0;
    font-weight: bold;
	}

li:hover ul {
    display: block; 
    }
b{
   color: darkslateblue; 
}


a {
     text-decoration: none;
     color:black;
}

.contacts{
    float: right;
}

.content{
    background: url("/images/content.jpg") no-repeat;
	background-size: cover;
}

.content1{
    height: 100px;
}

.fon{
    background: url("/images/fon.png") no-repeat;
	background-size: cover;
}

body{
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}

h1, h2, h3{
    line-height: 26px;
    font-weight: bold;
    color: darkslateblue; 
}

h1{
    font-size: 24px;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 16px;
}

.instruction li{
    list-style-type:decimal;
}

.button a{
    display: block;
    border-radius:5px;
    font-weight: bold;
    color:darkslateblue;
    padding: 1em;
}

.button a:hover{
    background-color:  gray;
    color: white;
}

table{
    float: right; 
}

caption{
    text-align: left;
    font-weight: bold;
}

table a{
    padding: 1em;
    display: block;
    color: darkslateblue;
    border-radius:5px;
}

table a:hover{
    background: white;
    color: black;
}

footer td {
    width: 150px;
    padding: 10px 20px 0 0;
    text-align: left;
}

.company-name{
    color:white;
}

.f_pages{
    border-top: 1px solid gray;
    padding-top: 10px;
}

form input:focus {
    border-color: #0088cc;
}

fieldset{
	border-color: #808080;
	background-color:#C0C0C0;
	box-shadow: 3px 3px 4px #cccccc;
}

.label_f{
    color: white;
}

.wnd-modal{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.wnd-modal .wnd{
    background: #fff;
    width: 60%;
    padding: 1em;
    margin: 10% auto;
    position: relative;
}

.wnd-modal .wnd-header{
    padding-bottom: 1em;
}

.wnd-modal .wnd-body{
    overflow: auto;
}

.wnd-modal .close{
    position: absolute;
    top: 1em;
    right: 1em;
}

.wnd-modal .close:hover{
    cursor: pointer;
}
